@import "./../../../../scss/mixins";
@import "./../../../../scss/variables";

.profileInfo {
  position: relative;
  height: 100%;

  &__bg {
    width: 100%;
    height: auto;

  }

  &__avatarContainer {
    position: relative;
    width: 100%;
    height: 66px;
  }

  &__avatar {
    display: flex;
    position: absolute;

    box-shadow: 0 0 0 1pt $PRIMARY;
    border: 2px solid #fff;
    border-radius: 50%;

    overflow: hidden;

    left: 50%;
    top: 0;

    transform: translate(-50%, -50%);

    img {
      height: auto;
      width: 66px;
    }
  }

  &__content {
    margin: 0 2rem;

    & > * {
      margin-bottom: 1rem;
    }
  }

}
