@import "./../../../../scss/mixins";
@import "./../../../../scss/variables";

.profileInfo {
  position: relative;
  height: 100%;

  &__img {
    width: 100%;
    height: auto;
  }

  &__avatar {
    position: absolute;

    box-shadow: 0 0 0 1pt $PRIMARY;
    border: 2px solid #fff;
    border-radius: 50%;

    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);

    height: 70px;
    width: 70px;

    overflow: hidden;

    img {
      height: auto;
      width: 66px;
    }
  }
}
