@import "./../../scss/mixins";
@import "./../../scss/variables";

.header {
  @include panel;

  background-color: #fff;

  height: 4rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
